/other_algorithms/LSH/
/other_algorithms/LSH_Forest/
/other_algorithms/FLANN/Centroids/
/experiments/logs/MNIST/test_knn_MNIST_5_chebyshev_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_5_chebyshev_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_5_chebyshev_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_5_euclidean_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_5_euclidean_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_5_euclidean_MASK_tg1000_nc500_r4500.log
/experiments/logs/MNIST/test_knn_MNIST_5_euclidean_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_5_manhattan_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_5_manhattan_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_5_manhattan_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_10_chebyshev_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_10_chebyshev_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_10_chebyshev_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_10_euclidean_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_10_euclidean_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_10_euclidean_MASK_tg1000_nc500_r4500.log
/experiments/logs/MNIST/test_knn_MNIST_10_euclidean_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_10_manhattan_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_10_manhattan_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_10_manhattan_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_15_chebyshev_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_15_chebyshev_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_15_chebyshev_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_15_euclidean_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_15_euclidean_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_15_euclidean_MASK_tg1000_nc500_r4500.log
/experiments/logs/MNIST/test_knn_MNIST_15_euclidean_PYNN.log
/experiments/logs/MNIST/test_knn_MNIST_15_manhattan_FLANN.log
/experiments/logs/MNIST/test_knn_MNIST_15_manhattan_KDTree.log
/experiments/logs/MNIST/test_knn_MNIST_15_manhattan_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_chebyshev_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_chebyshev_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_chebyshev_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_euclidean_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_euclidean_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_euclidean_MASK_tg1000_nc500_r30.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_euclidean_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_manhattan_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_manhattan_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_5_manhattan_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_chebyshev_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_chebyshev_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_chebyshev_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_euclidean_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_euclidean_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_euclidean_MASK_tg1000_nc500_r30.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_euclidean_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_manhattan_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_manhattan_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_10_manhattan_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_chebyshev_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_chebyshev_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_chebyshev_PYNN.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_euclidean_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_euclidean_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_euclidean_MASK_tg1000_nc500_r30.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_manhattan_FLANN.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_manhattan_KDTree.log
/experiments/logs/GLOVE/test_knn_GLOVE_15_manhattan_PYNN.log
/experiments/logs/municipios/test_knn_municipios_5_chebyshev_FLANN.log
/experiments/logs/municipios/test_knn_municipios_5_chebyshev_KDTree.log
/experiments/logs/municipios/test_knn_municipios_5_chebyshev_PYNN.log
/experiments/logs/municipios/test_knn_municipios_5_euclidean_FLANN.log
/experiments/logs/municipios/test_knn_municipios_5_euclidean_KDTree.log
/experiments/logs/municipios/test_knn_municipios_5_euclidean_MASK_tg60_nc30_r25.log
/experiments/logs/municipios/test_knn_municipios_5_euclidean_PYNN.log
/experiments/logs/municipios/test_knn_municipios_5_manhattan_FLANN.log
/experiments/logs/municipios/test_knn_municipios_5_manhattan_KDTree.log
/experiments/logs/municipios/test_knn_municipios_5_manhattan_PYNN.log
/experiments/logs/municipios/test_knn_municipios_10_chebyshev_FLANN.log
/experiments/logs/municipios/test_knn_municipios_10_chebyshev_KDTree.log
/experiments/logs/municipios/test_knn_municipios_10_chebyshev_PYNN.log
/experiments/logs/municipios/test_knn_municipios_10_euclidean_FLANN.log
/experiments/logs/municipios/test_knn_municipios_10_euclidean_KDTree.log
/experiments/logs/municipios/test_knn_municipios_10_euclidean_MASK_tg60_nc30_r25.log
/experiments/logs/municipios/test_knn_municipios_10_euclidean_PYNN.log
/experiments/logs/municipios/test_knn_municipios_10_manhattan_FLANN.log
/experiments/logs/municipios/test_knn_municipios_10_manhattan_KDTree.log
/experiments/logs/municipios/test_knn_municipios_10_manhattan_PYNN.log
/experiments/logs/municipios/test_knn_municipios_15_chebyshev_FLANN.log
/experiments/logs/municipios/test_knn_municipios_15_chebyshev_KDTree.log
/experiments/logs/municipios/test_knn_municipios_15_chebyshev_PYNN.log
/experiments/logs/municipios/test_knn_municipios_15_euclidean_FLANN.log
/experiments/logs/municipios/test_knn_municipios_15_euclidean_KDTree.log
/experiments/logs/municipios/test_knn_municipios_15_euclidean_MASK_tg60_nc30_r25.log
/experiments/logs/municipios/test_knn_municipios_15_euclidean_PYNN.log
/experiments/logs/municipios/test_knn_municipios_15_manhattan_FLANN.log
/experiments/logs/municipios/test_knn_municipios_15_manhattan_KDTree.log
/experiments/logs/municipios/test_knn_municipios_15_manhattan_PYNN.log
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_euclidean_MASK_tg1000_nc500_r30.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_5_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_euclidean_MASK_tg1000_nc500_r30.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_10_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_euclidean_MASK_tg1000_nc500_r30.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/GLOVE/knn_GLOVE_15_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_euclidean_MASK_tg1000_nc500_r4500.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_5_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_euclidean_MASK_tg1000_nc500_r4500.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_10_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_euclidean_MASK_tg1000_nc500_r4500.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/MNIST/knn_MNIST_15_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_euclidean_MASK_tg60_nc30_r25.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_5_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_euclidean_MASK_tg60_nc30_r25.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_10_manhattan_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_chebyshev_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_chebyshev_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_euclidean_FLANN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_euclidean_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_euclidean_MASK_tg60_nc30_r25.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_euclidean_PYNN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_manhattan_FLANN.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_manhattan_KDTree.hdf5
/experiments/NearestNeighbors/municipios/knn_municipios_15_manhattan_PYNN.hdf5
